PORT=3001
QIANWEN_API_KEY=sk-a22f8cad472e4bf8b8c7e2778fd556ba
# QIANWEN_MODEL=qwen-vl-plus
QIANWEN_MODEL=qwen3-vl-32b-thinking
PROJECT_SITE_URL=http://localhost:5174
PROJECT_APP_NAME=sub-cadam

OPENROUTER_API_KEY=sk-a22f8cad472e4bf8b8c7e2778fd556ba
OPENROUTER_MODEL=qwen-vl-plus
OPENROUTER_SITE_URL=http://localhost:5174
OPENROUTER_APP_NAME=sub-cadam


DEEPSEEK_API_KEY=sk-b37b99e1dddd4170aa1fbaa1193c4790
DEEPSEEK_MODEL=deepseek-v4
